<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/angular/thoughtApp.js"></script>
    <script src="/angular/frontEndController.js"></script>
    <script src="/directives/thought.js"></script>
    <script src="https://use.fontawesome.com/cd68695584.js"></script>
    <title>Starter Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body ng-app="thoughtApp" ng-controller="frontEndController">
    <nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: #9B59B6">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Just A Thought</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input id="search-bar" class="form-control mr-sm-2" type="text" placeholder="Search by tag" ng-model="query">
          <button id="search-button" class="btn btn-outline-default my-2 my-sm-0" ng-click="getTaggedThoughts(query)">Search</button>
        </form>
      </div>
    </nav>
    
	<div class="container">
      <div class="row">
        <div id="thought-prompt" class="col-lg-12">
          <h2>What's on your mind?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-md-3">
          <form class="form">
            <label class="sr-only" for="inlineFormInput">Name</label>
            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="nameInput" placeholder="Enter a name..." ng-model="name">
            <label class="sr-only" for="inlineFormInput">Thought</label>
			  <textarea class="form-control mb-2 mr-sm-2 mb-sm-0" id="thoughtInput" rows="4" placeholder="Share a thought..." ng-model="thought"></textarea>
            <button class="btn btn-primary" ng-click="submitThought()">Submit</button>
          </form>
        </div>
      </div>
      <section id="thoughts">
        <div class="row">
          <div class="col-lg-6 offset-md-3">
            <thought-list class="thought" ng-repeat="thought in thoughts" a-thought="thought" get-tagged-thoughts="getTaggedThoughts(hashtag)"></thought-list>
          </div>
        </div>
      </section>
    </div>
    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>