button.btn-primary{
	margin-top: 20px;
  background:#9B59B6;
	border-color:#9B59B6;
}

.btn-primary:hover {
    color: #fff;
    background-color: #BE90D4;
    border-color: #BE90D4;
}

h2 {
	color: #AEA8D3;
}
body {
  
}

#nameInput {
	margin-top: 30px;
}

#thoughtInput {
	margin-top: 20px;
}

#captcha {
	margin-top: 20px;
}
#thought-prompt {
	text-align: center;
	margin-top: 30px;
}

#thought-form {
	display: none;
}
#thought {
	padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#thoughts {
	padding-top: 50px;
}
.thought {
	padding: 30px;
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	border-color: #F9EAFF;
}

.thought a {
	color: #BE90D4;
}

.likes-dislikes{
	text-align: right;
}

.blockquote-footer{
	padding-top:20px;
}